/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* -----------------------------
    common styles or utilities
--------------------------------*/
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


/* ----------------------
    header styles
-------------------------*/
header{
    background-color: #2D25A0;
    height: 591px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-container{
    border: 1px solid red;
    width: 1143px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1{
    font-size: 64px;
    color: #FFFFFF;
    line-height: 80px;
    margin-top: 0;
    margin-bottom: 37px;
}

header a{
    text-decoration: none;
    background-color: #E02C6D;
    padding: 10px 24px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
}

.fa-arrow-right{
    margin-left: 8px;
}
.banner img{
    width: 556px;
}

/* ----------------------
    players styles
-------------------------*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.players{
    width: 1050px;
    display: grid;
    grid-template-columns: repeat(3, 330px);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    margin-top: 70px;
}
.player{
    width: 300px;
    padding: 15px;
    box-shadow: 10px 10px 60px lightgray;
}
.player img{
    width: 300px;
    height: 256px;
}